# Node
playwright-tests/node_modules/
playwright-tests/test-results/
playwright-tests/playwright-report/

# Python
backend/venv/
backend/__pycache__/
*.pyc

# Secrets
backend/.env
.env
.env.*

# System
.DS_Store
.idea/
*.log
